[Unit]
Description=Bootstrap USE Practice Lab
After=network.target

[Service]
Type=oneshot
User=root
ExecStart=/opt/iximiuz-labs/bootstrap-use-practice.sh
RemainAfterExit=yes
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
